@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide arrows in WebKit browsers (Chrome, Safari) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#root, html, body {
  background-color: #f6f8f9;
}


/* Custom animation */
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.new-item {
  opacity: 0;
  transform: translateY(-20%);
  animation: slideInFromTop 0.25s ease-out forwards;
}